.right-cont {
    position: relative;
    border-radius: 10px;
    height: 100%;
    padding: 25px;
    font-size: 18px;
}

.fitness-title {
    margin-bottom: 30px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0;
    border-radius: 10px;
}

.fitness-title hr {
    color: white;
    height: 10px;
}

.left-cont img {
    width: 100%;
    border-radius: 10px;
}

.finess-section {
    margin-top: 60px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
}

.fitness-detail {
    text-align: justify;
    padding-right: 30px;
}

.finess-section span {
    color: orangered;
}

.training-button {
    border: none;
    background-color: orangered;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
}