.check-title {
    margin-bottom: 30px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0;
}

.check-title span {
    color: orangered;
}

.details li {
    font-size: 18px;
}