.fitness-title span {
    color: orangered;
}

.left-section img {
    width: 80%;
    border-radius: 10px;
}

.fitness-detail {
    position: relative;
    border-radius: 10px;
    height: 100%;
    padding: 25px;
    font-size: 18px;
}

.check-button {
    margin: 50px auto;
    border: none;
    background-color: orangered;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

.check-button:hover {
    background-color: black;
    color: orangered;
}

